<ion-view>
	<ion-nav-title>
		{{vm.viewTitle}}
		<span ng-if="!vm.calendar.eventSources">Agenda ES</span>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<div id="states-calendar-component-nav-buttons" ng-if="vm.calendar.eventSources">
			<md-button class="md-icon-button" ng-disabled="vm.isToday()" ng-click="vm.today()" aria-label="Hoje">
				<md-icon md-font-icon="ion-calendar" class="dynamic" data-date="{{::vm.calendar.currentDate.getDate()}}">
				</md-icon>
			</md-button>

			<md-button class="md-icon-button" ng-click="vm.openFilter()" aria-label="Filtrar">
				<md-icon md-font-icon="ion-android-funnel">
				</md-icon>
			</md-button>
		</div>
	</ion-nav-buttons>
	<spinner ng-if="uiState.loading"></spinner>
	<ion-content id="states-calendar-component" 
				 scroll="true" 
				 class="main-content">
		<calendar ng-if="vm.calendar.eventSources" 
			ng-model="vm.calendar.currentDate" 
			event-sources="vm.calendar.eventSources" 
			range-changed="vm.loadCalendars( vm.selectedCalendars )"
			event-selected="vm.onEventSelected(event)" 
			title-changed="vm.onViewTitleChanged(title)" 
			time-selected="vm.onTimeSelected(selectedTime)"></calendar>

		<error-message error="uiState.error">
			<remark ng-if="!uiState.error.handled">Não foi possível consultar a Agenda/ES</remark>
		</error-message>
	</ion-content>
</ion-view>